<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2 class="section-heading text-uppercase">
            {{ site.data.sitetext[site.locale].contact.title | markdownify | default: Contact Us }}</h2>
        </div>
        <div class="col-sm">
          <h2 class="section-heading text-uppercase"> SEM Team</h2>
          <h3 class="contact">
            Email: semscholars.team@gmail.com 
            </br> Facebook page: <a href="https://www.facebook.com/LinhMonKGSP"> Linh Mon </a> 
            </br> Instagram: <a href="https://www.instagram.com/_linh_mon/ ">_linh_mon </a>
            </br> Youtube: <a href= "https://www.youtube.com/linhmon">Linh Mon</a>
          </h3>
        </div>
        <div class="col-sm">
          <h2 class="section-heading text-uppercase"> Founder</h2>
          <h3 class="contact">
            Email: nguyenlinhmon@gmail.com 
            </br> Facebook page: <a href="https://www.facebook.com/LinhMonKGSP"> Linh Mon </a> 
            </br> Instagram: <a href="https://www.instagram.com/_linh_mon/ ">_linh_mon </a>
            </br> Youtube: <a href= "https://www.youtube.com/linhmon">Linh Mon</a>
          </h3>
        </div> 
      </div>
      <!-- <form 
        method="POST" 
        action="https://script.google.com/macros/s/AKfycbzJvdBi0iEXpCZi7HTwkD_hkHu9mdtJF2GHaSdIPhyznEiujbSdP2uGzLZ79CMUnbP0/exec"
        >
        <input name="Email" type="email" placeholder="Email" required>
        <input name="Name" type="text" placeholder="Name" required>
        <button type="submit">Send</button>
    </form> -->
    </div>
</section>